{% extends "templates/base.twig" %}

{% block content %}

	<header class="page__header carousel">
		<div class="js-slides-hero">
            {% for slide in post.header_slider %}
                <div class="slide" style="background: url({{ TimberImage(slide).src('full') }}) no-repeat center center; background-size: cover;"></div>
            {% endfor %}
        </div>
        <div class="container">
            <h1 class="page__title">{{ post.post_title }}</h1>
        </div>
	</header>

	<div class="container ls-remove__margin">
		<div class="page__content">
            <div class="ls-heading">
                <h5>{{ post.subscription_heading }}</h5>
                <p>{{ post.subscription_subtitle }}</p>
            </div>
            <div id="subscription__box" class="container">
                {% for subscription in subscriptions %}

                <div class="subscription__item">
                    <span class="subscription__heading">{{ subscription.post_title }}</span>

                    {{ subscription.product_excerpt }}

                    <div class="subscription__item-price">
                        {{ subscription.price }}
                    </div>

                    <a class="subcription__btn" href="{{ fn('get_the_permalink', subscription.ID) }}">
                    
                        {% if subscription.featured_button_copy is empty %}
                            Choose Plan
                        {% else %} 
                            {{ subscription.featured_button_copy }}
                        {% endif %}
                    
                    </a>
                </div>

                {% endfor %}
            </div>
        </div>
	</div>

    <div id="product-archive">

        <div class="container">
            <div class="ls-heading">
                <h5>{{ post.product_heading }}</h5>
                <p>{{ post.product_subtitle }}</p>
            </div>
        </div>

        <div class="container">
            {% for box in boxes %}
                {% if box.featured_product != true %}
                    {{ macros.product_card(box) }}
                {% endif %}
            {% endfor %}
        </div>
        
    </div>

{% endblock %}